In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df1=pd.read_csv('races.csv')

In [3]:
df1.shape

(1026, 8)

In [4]:
df1.head(10)

,raceId,year,round,circuitId,name,date,time,url
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...
5,6,2009,6,6,Monaco Grand Prix,2009-05-24,12:00:00,http://en.wikipedia.org/wiki/2009_Monaco_Grand...
6,7,2009,7,5,Turkish Grand Prix,2009-06-07,12:00:00,http://en.wikipedia.org/wiki/2009_Turkish_Gran...
7,8,2009,8,9,British Grand Prix,2009-06-21,12:00:00,http://en.wikipedia.org/wiki/2009_British_Gran...
8,9,2009,9,20,German Grand Prix,2009-07-12,12:00:00,http://en.wikipedia.org/wiki/2009_German_Grand...
9,10,2009,10,11,Hungarian Grand Prix,2009-07-26,12:00:00,http://en.wikipedia.org/wiki/2009_Hungarian_Gr...

In [5]:
df1.dtypes

raceId        int64
year          int64
round         int64
circuitId     int64
name         object
date         object
time         object
url          object
dtype: object

In [6]:
df1.sort_values(by=['year','round'],inplace=True)

In [7]:
df1.head(10)

,raceId,year,round,circuitId,name,date,time,url
832,833,1950,1,9,British Grand Prix,1950-05-13,\N,http://en.wikipedia.org/wiki/1950_British_Gran...
833,834,1950,2,6,Monaco Grand Prix,1950-05-21,\N,http://en.wikipedia.org/wiki/1950_Monaco_Grand...
834,835,1950,3,19,Indianapolis 500,1950-05-30,\N,http://en.wikipedia.org/wiki/1950_Indianapolis...
835,836,1950,4,66,Swiss Grand Prix,1950-06-04,\N,http://en.wikipedia.org/wiki/1950_Swiss_Grand_...
836,837,1950,5,13,Belgian Grand Prix,1950-06-18,\N,http://en.wikipedia.org/wiki/1950_Belgian_Gran...
837,838,1950,6,55,French Grand Prix,1950-07-02,\N,http://en.wikipedia.org/wiki/1950_French_Grand...
838,839,1950,7,14,Italian Grand Prix,1950-09-03,\N,http://en.wikipedia.org/wiki/1950_Italian_Gran...
824,825,1951,1,66,Swiss Grand Prix,1951-05-27,\N,http://en.wikipedia.org/wiki/1951_Swiss_Grand_...
825,826,1951,2,19,Indianapolis 500,1951-05-30,\N,http://en.wikipedia.org/wiki/1951_Indianapolis...
826,827,1951,3,13,Belgian Grand Prix,1951-06-17,\N,http://en.wikipedia.org/wiki/1951_Belgian_Gran...

In [8]:
df1.tail(10)

,raceId,year,round,circuitId,name,date,time,url
1016,1029,2019,20,18,Brazilian Grand Prix,2019-11-17,17:10:00,https://en.wikipedia.org/wiki/2019_Brazilian_G...
1017,1030,2019,21,24,Abu Dhabi Grand Prix,2019-12-01,13:10:00,https://en.wikipedia.org/wiki/2019_Abu_Dhabi_G...
1018,1041,2020,1,70,Austrian Grand Prix,2020-07-05,13:10:00,https://en.wikipedia.org/wiki/2020_Austrian_Gr...
1019,1042,2020,2,70,Styrian Grand Prix,2020-07-12,13:10:00,https://en.wikipedia.org/wiki/2020_Styrian_Gra...
1020,1043,2020,3,11,Hungarian Grand Prix,2020-07-19,13:10:00,https://en.wikipedia.org/wiki/2020_Hungarian_G...
1021,1044,2020,4,9,British Grand Prix,2020-08-02,13:10:00,https://en.wikipedia.org/wiki/2020_British_Gra...
1022,1045,2020,5,9,70th Anniversary Grand Prix,2020-08-09,13:10:00,https://en.wikipedia.org/wiki/70th_Anniversary...
1023,1046,2020,6,4,Spanish Grand Prix,2020-08-16,13:10:00,https://en.wikipedia.org/wiki/2020_Spanish_Gra...
1024,1047,2020,7,13,Belgian Grand Prix,2020-08-30,13:10:00,https://en.wikipedia.org/wiki/2020_Belgian_Gra...
1025,1048,2020,8,14,Italian Grand Prix,2020-09-06,13:10:00,https://en.wikipedia.org/wiki/2020_Italian_Gra...

In [9]:
df1.drop(['time'],axis=1,inplace=True)

In [10]:
df1.head()

,raceId,year,round,circuitId,name,date,url
832,833,1950,1,9,British Grand Prix,1950-05-13,http://en.wikipedia.org/wiki/1950_British_Gran...
833,834,1950,2,6,Monaco Grand Prix,1950-05-21,http://en.wikipedia.org/wiki/1950_Monaco_Grand...
834,835,1950,3,19,Indianapolis 500,1950-05-30,http://en.wikipedia.org/wiki/1950_Indianapolis...
835,836,1950,4,66,Swiss Grand Prix,1950-06-04,http://en.wikipedia.org/wiki/1950_Swiss_Grand_...
836,837,1950,5,13,Belgian Grand Prix,1950-06-18,http://en.wikipedia.org/wiki/1950_Belgian_Gran...

In [11]:
df1.reset_index(inplace=True)

In [12]:
df1.head(10)

,index,raceId,year,round,circuitId,name,date,url
0,832,833,1950,1,9,British Grand Prix,1950-05-13,http://en.wikipedia.org/wiki/1950_British_Gran...
1,833,834,1950,2,6,Monaco Grand Prix,1950-05-21,http://en.wikipedia.org/wiki/1950_Monaco_Grand...
2,834,835,1950,3,19,Indianapolis 500,1950-05-30,http://en.wikipedia.org/wiki/1950_Indianapolis...
3,835,836,1950,4,66,Swiss Grand Prix,1950-06-04,http://en.wikipedia.org/wiki/1950_Swiss_Grand_...
4,836,837,1950,5,13,Belgian Grand Prix,1950-06-18,http://en.wikipedia.org/wiki/1950_Belgian_Gran...
5,837,838,1950,6,55,French Grand Prix,1950-07-02,http://en.wikipedia.org/wiki/1950_French_Grand...
6,838,839,1950,7,14,Italian Grand Prix,1950-09-03,http://en.wikipedia.org/wiki/1950_Italian_Gran...
7,824,825,1951,1,66,Swiss Grand Prix,1951-05-27,http://en.wikipedia.org/wiki/1951_Swiss_Grand_...
8,825,826,1951,2,19,Indianapolis 500,1951-05-30,http://en.wikipedia.org/wiki/1951_Indianapolis...
9,826,827,1951,3,13,Belgian Grand Prix,1951-06-17,http://en.wikipedia.org/wiki/1951_Belgian_Gran...

In [13]:
df1.drop(['index'],axis=1,inplace=True)

In [14]:
df1.head()

,raceId,year,round,circuitId,name,date,url
0,833,1950,1,9,British Grand Prix,1950-05-13,http://en.wikipedia.org/wiki/1950_British_Gran...
1,834,1950,2,6,Monaco Grand Prix,1950-05-21,http://en.wikipedia.org/wiki/1950_Monaco_Grand...
2,835,1950,3,19,Indianapolis 500,1950-05-30,http://en.wikipedia.org/wiki/1950_Indianapolis...
3,836,1950,4,66,Swiss Grand Prix,1950-06-04,http://en.wikipedia.org/wiki/1950_Swiss_Grand_...
4,837,1950,5,13,Belgian Grand Prix,1950-06-18,http://en.wikipedia.org/wiki/1950_Belgian_Gran...

In [15]:
df1.tail()

,raceId,year,round,circuitId,name,date,url
1021,1044,2020,4,9,British Grand Prix,2020-08-02,https://en.wikipedia.org/wiki/2020_British_Gra...
1022,1045,2020,5,9,70th Anniversary Grand Prix,2020-08-09,https://en.wikipedia.org/wiki/70th_Anniversary...
1023,1046,2020,6,4,Spanish Grand Prix,2020-08-16,https://en.wikipedia.org/wiki/2020_Spanish_Gra...
1024,1047,2020,7,13,Belgian Grand Prix,2020-08-30,https://en.wikipedia.org/wiki/2020_Belgian_Gra...
1025,1048,2020,8,14,Italian Grand Prix,2020-09-06,https://en.wikipedia.org/wiki/2020_Italian_Gra...

In [16]:
df1.rename(columns={'year':'season'},inplace=True)

In [17]:
df1.head()

,raceId,season,round,circuitId,name,date,url
0,833,1950,1,9,British Grand Prix,1950-05-13,http://en.wikipedia.org/wiki/1950_British_Gran...
1,834,1950,2,6,Monaco Grand Prix,1950-05-21,http://en.wikipedia.org/wiki/1950_Monaco_Grand...
2,835,1950,3,19,Indianapolis 500,1950-05-30,http://en.wikipedia.org/wiki/1950_Indianapolis...
3,836,1950,4,66,Swiss Grand Prix,1950-06-04,http://en.wikipedia.org/wiki/1950_Swiss_Grand_...
4,837,1950,5,13,Belgian Grand Prix,1950-06-18,http://en.wikipedia.org/wiki/1950_Belgian_Gran...

In [18]:
df2=pd.read_csv('circuits.csv')

In [19]:
df2.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,\N,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,\N,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,\N,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,\N,http://en.wikipedia.org/wiki/Istanbul_Park

In [20]:
df3=df1

In [21]:
df1.shape

(1026, 7)

In [22]:
df3.insert(7,'circuitRef'," ")

In [23]:
df3.insert(8,'latitude',"NaN")
df3.insert(9,'longitude',"NaN")
df3.insert(10,'alt',"NaN")
df3.insert(11,'country'," ")
df3.insert(12,'location'," ")

In [24]:
df3.head()

,raceId,season,round,circuitId,name,date,url,circuitRef,latitude,longitude,alt,country,location
0,833,1950,1,9,British Grand Prix,1950-05-13,http://en.wikipedia.org/wiki/1950_British_Gran...,,NaN,NaN,NaN,,
1,834,1950,2,6,Monaco Grand Prix,1950-05-21,http://en.wikipedia.org/wiki/1950_Monaco_Grand...,,NaN,NaN,NaN,,
2,835,1950,3,19,Indianapolis 500,1950-05-30,http://en.wikipedia.org/wiki/1950_Indianapolis...,,NaN,NaN,NaN,,
3,836,1950,4,66,Swiss Grand Prix,1950-06-04,http://en.wikipedia.org/wiki/1950_Swiss_Grand_...,,NaN,NaN,NaN,,
4,837,1950,5,13,Belgian Grand Prix,1950-06-18,http://en.wikipedia.org/wiki/1950_Belgian_Gran...,,NaN,NaN,NaN,,

In [25]:
df3.shape

(1026, 13)

In [26]:
len(df2)

74

In [27]:
df2.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,\N,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,\N,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,\N,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,\N,http://en.wikipedia.org/wiki/Istanbul_Park

In [28]:
df4=df3

In [29]:
#for i in range(len(df2))
temp=df2.iloc[0,:]
#df4.loc[(df4.circuitId==temp.circuitId),['circuitRef','latitude','longitude','alt','country','location']]=[temp.circuitRef,temp.lat,temp.lng,temp.alt,temp.country,temp.location]

In [30]:
temp.head()

circuitId                                  1
circuitRef                       albert_park
name          Albert Park Grand Prix Circuit
location                           Melbourne
country                            Australia
Name: 0, dtype: object

In [31]:
temp.circuitId

1

In [32]:
df4.loc[(df4.circuitId==temp.circuitId),['circuitRef','latitude','longitude','alt','country','location']]=[temp.circuitRef,temp.lat,temp.lng,temp.alt,temp.country,temp.location]

In [33]:
df4.loc[df4.circuitId==1]

,raceId,season,round,circuitId,name,date,url,circuitRef,latitude,longitude,alt,country,location
581,224,1996,1,1,Australian Grand Prix,1996-03-10,http://en.wikipedia.org/wiki/1996_Australian_G...,albert_park,-37.8497,144.968,10,Australia,Melbourne
597,207,1997,1,1,Australian Grand Prix,1997-03-09,http://en.wikipedia.org/wiki/1997_Australian_G...,albert_park,-37.8497,144.968,10,Australia,Melbourne
614,191,1998,1,1,Australian Grand Prix,1998-03-08,http://en.wikipedia.org/wiki/1998_Australian_G...,albert_park,-37.8497,144.968,10,Australia,Melbourne
630,175,1999,1,1,Australian Grand Prix,1999-03-07,http://en.wikipedia.org/wiki/1999_Australian_G...,albert_park,-37.8497,144.968,10,Australia,Melbourne
646,158,2000,1,1,Australian Grand Prix,2000-03-12,http://en.wikipedia.org/wiki/2000_Australian_G...,albert_park,-37.8497,144.968,10,Australia,Melbourne
663,141,2001,1,1,Australian Grand Prix,2001-03-04,http://en.wikipedia.org/wiki/2001_Australian_G...,albert_park,-37.8497,144.968,10,Australia,Melbourne
680,124,2002,1,1,Australian Grand Prix,2002-03-03,http://en.wikipedia.org/wiki/2002_Australian_G...,albert_park,-37.8497,144.968,10,Australia,Melbourne
697,108,2003,1,1,Australian Grand Prix,2003-03-09,http://en.wikipedia.org/wiki/2003_Australian_G...,albert_park,-37.8497,144.968,10,Australia,Melbourne
713,90,2004,1,1,Australian Grand Prix,2004-03-07,http://en.wikipedia.org/wiki/2004_Australian_G...,albert_park,-37.8497,144.968,10,Australia,Melbourne
731,71,2005,1,1,Australian Grand Prix,2005-03-06,http://en.wikipedia.org/wiki/2005_Australian_G...,albert_park,-37.8497,144.968,10,Australia,Melbourne
752,55,2006,3,1,Australian Grand Prix,2006-04-02,http://en.wikipedia.org/wiki/2006_Australian_G...,albert_park,-37.8497,144.968,10,Australia,Melbourne
768,36,2007,1,1,Australian Grand Prix,2007-03-18,http://en.wikipedia.org/wiki/2007_Australian_G...,albert_park,-37.8497,144.968,10,Australia,Melbourne
785,18,2008,1,1,Australian Grand Prix,2008-03-16,http://en.wikipedia.org/wiki/2008_Australian_G...,albert_park,-37.8497,144.968,10,Australia,Melbourne
803,1,2009,1,1,Australian Grand Prix,2009-03-29,http://en.wikipedia.org/wiki/2009_Australian_G...,albert_park,-37.8497,144.968,10,Australia,Melbourne
821,338,2010,2,1,Australian Grand Prix,2010-03-28,http://en.wikipedia.org/wiki/2010_Australian_G...,albert_park,-37.8497,144.968,10,Australia,Melbourne
839,841,2011,1,1,Australian Grand Prix,2011-03-27,http://en.wikipedia.org/wiki/2011_Australian_G...,albert_park,-37.8497,144.968,10,Australia,Melbourne
858,860,2012,1,1,Australian Grand Prix,2012-03-18,http://en.wikipedia.org/wiki/2012_Australian_G...,albert_park,-37.8497,144.968,10,Australia,Melbourne
878,880,2013,1,1,Australian Grand Prix,2013-03-17,http://en.wikipedia.org/wiki/2013_Australian_G...,albert_park,-37.8497,144.968,10,Australia,Melbourne
897,900,2014,1,1,Australian Grand Prix,2014-03-16,https://en.wikipedia.org/wiki/2014_Australian_...,albert_park,-37.8497,144.968,10,Australia,Melbourne
916,926,2015,1,1,Australian Grand Prix,2015-03-15,http://en.wikipedia.org/wiki/2015_Australian_G...,albert_park,-37.8497,144.968,10,Australia,Melbourne
935,948,2016,1,1,Australian Grand Prix,2016-03-20,https://en.wikipedia.org/wiki/2016_Australian_...,albert_park,-37.8497,144.968,10,Australia,Melbourne
956,969,2017,1,1,Australian Grand Prix,2017-03-26,https://en.wikipedia.org/wiki/2017_Australian_...,albert_park,-37.8497,144.968,10,Australia,Melbourne
976,989,2018,1,1,Australian Grand Prix,2018-03-25,https://en.wikipedia.org/wiki/2018_Australian_...,albert_park,-37.8497,144.968,10,Australia,Melbourne
997,1010,2019,1,1,Australian Grand Prix,2019-03-17,https://en.wikipedia.org/wiki/2019_Australian_...,albert_park,-37.8497,144.968,10,Australia,Melbourne

In [34]:
for i in range(len(df2)):
    temp=df2.iloc[i,:]
    df4.loc[(df4.circuitId==temp.circuitId),['circuitRef','latitude','longitude','alt','country','location']]=[temp.circuitRef,temp.lat,temp.lng,temp.alt,temp.country,temp.location]

In [35]:
df4.head(10)

,raceId,season,round,circuitId,name,date,url,circuitRef,latitude,longitude,alt,country,location
0,833,1950,1,9,British Grand Prix,1950-05-13,http://en.wikipedia.org/wiki/1950_British_Gran...,silverstone,52.0786,-1.01694,\N,UK,Silverstone
1,834,1950,2,6,Monaco Grand Prix,1950-05-21,http://en.wikipedia.org/wiki/1950_Monaco_Grand...,monaco,43.7347,7.42056,\N,Monaco,Monte-Carlo
2,835,1950,3,19,Indianapolis 500,1950-05-30,http://en.wikipedia.org/wiki/1950_Indianapolis...,indianapolis,39.795,-86.2347,\N,USA,Indianapolis
3,836,1950,4,66,Swiss Grand Prix,1950-06-04,http://en.wikipedia.org/wiki/1950_Swiss_Grand_...,bremgarten,46.9589,7.40194,\N,Switzerland,Bern
4,837,1950,5,13,Belgian Grand Prix,1950-06-18,http://en.wikipedia.org/wiki/1950_Belgian_Gran...,spa,50.4372,5.97139,\N,Belgium,Spa
5,838,1950,6,55,French Grand Prix,1950-07-02,http://en.wikipedia.org/wiki/1950_French_Grand...,reims,49.2542,3.93083,\N,France,Reims
6,839,1950,7,14,Italian Grand Prix,1950-09-03,http://en.wikipedia.org/wiki/1950_Italian_Gran...,monza,45.6156,9.28111,\N,Italy,Monza
7,825,1951,1,66,Swiss Grand Prix,1951-05-27,http://en.wikipedia.org/wiki/1951_Swiss_Grand_...,bremgarten,46.9589,7.40194,\N,Switzerland,Bern
8,826,1951,2,19,Indianapolis 500,1951-05-30,http://en.wikipedia.org/wiki/1951_Indianapolis...,indianapolis,39.795,-86.2347,\N,USA,Indianapolis
9,827,1951,3,13,Belgian Grand Prix,1951-06-17,http://en.wikipedia.org/wiki/1951_Belgian_Gran...,spa,50.4372,5.97139,\N,Belgium,Spa

In [36]:
df4.tail(10)

,raceId,season,round,circuitId,name,date,url,circuitRef,latitude,longitude,alt,country,location
1016,1029,2019,20,18,Brazilian Grand Prix,2019-11-17,https://en.wikipedia.org/wiki/2019_Brazilian_G...,interlagos,-23.7036,-46.6997,\N,Brazil,São Paulo
1017,1030,2019,21,24,Abu Dhabi Grand Prix,2019-12-01,https://en.wikipedia.org/wiki/2019_Abu_Dhabi_G...,yas_marina,24.4672,54.6031,\N,UAE,Abu Dhabi
1018,1041,2020,1,70,Austrian Grand Prix,2020-07-05,https://en.wikipedia.org/wiki/2020_Austrian_Gr...,red_bull_ring,47.2197,14.7647,\N,Austria,Spielburg
1019,1042,2020,2,70,Styrian Grand Prix,2020-07-12,https://en.wikipedia.org/wiki/2020_Styrian_Gra...,red_bull_ring,47.2197,14.7647,\N,Austria,Spielburg
1020,1043,2020,3,11,Hungarian Grand Prix,2020-07-19,https://en.wikipedia.org/wiki/2020_Hungarian_G...,hungaroring,47.5789,19.2486,\N,Hungary,Budapest
1021,1044,2020,4,9,British Grand Prix,2020-08-02,https://en.wikipedia.org/wiki/2020_British_Gra...,silverstone,52.0786,-1.01694,\N,UK,Silverstone
1022,1045,2020,5,9,70th Anniversary Grand Prix,2020-08-09,https://en.wikipedia.org/wiki/70th_Anniversary...,silverstone,52.0786,-1.01694,\N,UK,Silverstone
1023,1046,2020,6,4,Spanish Grand Prix,2020-08-16,https://en.wikipedia.org/wiki/2020_Spanish_Gra...,catalunya,41.57,2.26111,\N,Spain,Montmeló
1024,1047,2020,7,13,Belgian Grand Prix,2020-08-30,https://en.wikipedia.org/wiki/2020_Belgian_Gra...,spa,50.4372,5.97139,\N,Belgium,Spa
1025,1048,2020,8,14,Italian Grand Prix,2020-09-06,https://en.wikipedia.org/wiki/2020_Italian_Gra...,monza,45.6156,9.28111,\N,Italy,Monza

In [37]:
df4['alt'].value_counts()

\N    1002
10      24
Name: alt, dtype: int64

In [38]:
df4.drop(['alt'],axis=1,inplace=True)

In [39]:
df4.head()

,raceId,season,round,circuitId,name,date,url,circuitRef,latitude,longitude,country,location
0,833,1950,1,9,British Grand Prix,1950-05-13,http://en.wikipedia.org/wiki/1950_British_Gran...,silverstone,52.0786,-1.01694,UK,Silverstone
1,834,1950,2,6,Monaco Grand Prix,1950-05-21,http://en.wikipedia.org/wiki/1950_Monaco_Grand...,monaco,43.7347,7.42056,Monaco,Monte-Carlo
2,835,1950,3,19,Indianapolis 500,1950-05-30,http://en.wikipedia.org/wiki/1950_Indianapolis...,indianapolis,39.795,-86.2347,USA,Indianapolis
3,836,1950,4,66,Swiss Grand Prix,1950-06-04,http://en.wikipedia.org/wiki/1950_Swiss_Grand_...,bremgarten,46.9589,7.40194,Switzerland,Bern
4,837,1950,5,13,Belgian Grand Prix,1950-06-18,http://en.wikipedia.org/wiki/1950_Belgian_Gran...,spa,50.4372,5.97139,Belgium,Spa

In [40]:
df4.drop(['name'],axis=1,inplace=True)

In [41]:
df4.head()

,raceId,season,round,circuitId,date,url,circuitRef,latitude,longitude,country,location
0,833,1950,1,9,1950-05-13,http://en.wikipedia.org/wiki/1950_British_Gran...,silverstone,52.0786,-1.01694,UK,Silverstone
1,834,1950,2,6,1950-05-21,http://en.wikipedia.org/wiki/1950_Monaco_Grand...,monaco,43.7347,7.42056,Monaco,Monte-Carlo
2,835,1950,3,19,1950-05-30,http://en.wikipedia.org/wiki/1950_Indianapolis...,indianapolis,39.795,-86.2347,USA,Indianapolis
3,836,1950,4,66,1950-06-04,http://en.wikipedia.org/wiki/1950_Swiss_Grand_...,bremgarten,46.9589,7.40194,Switzerland,Bern
4,837,1950,5,13,1950-06-18,http://en.wikipedia.org/wiki/1950_Belgian_Gran...,spa,50.4372,5.97139,Belgium,Spa

In [42]:
df4=df4[['season','round','circuitRef','circuitId','raceId','latitude','longitude','country','location','url']]

In [43]:
df4.head()

,season,round,circuitRef,circuitId,raceId,latitude,longitude,country,location,url
0,1950,1,silverstone,9,833,52.0786,-1.01694,UK,Silverstone,http://en.wikipedia.org/wiki/1950_British_Gran...
1,1950,2,monaco,6,834,43.7347,7.42056,Monaco,Monte-Carlo,http://en.wikipedia.org/wiki/1950_Monaco_Grand...
2,1950,3,indianapolis,19,835,39.795,-86.2347,USA,Indianapolis,http://en.wikipedia.org/wiki/1950_Indianapolis...
3,1950,4,bremgarten,66,836,46.9589,7.40194,Switzerland,Bern,http://en.wikipedia.org/wiki/1950_Swiss_Grand_...
4,1950,5,spa,13,837,50.4372,5.97139,Belgium,Spa,http://en.wikipedia.org/wiki/1950_Belgian_Gran...

In [44]:
#df4.to_csv('race_data1.csv',index=False)

In [45]:
df5=pd.read_csv('results.csv')

In [46]:
df5.head(10)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
5,6,18,6,3,8,13,6,6,6,3.0,57,\N,\N,50,14,1:29.639,212.974,11
6,7,18,7,5,14,17,7,7,7,2.0,55,\N,\N,22,12,1:29.534,213.224,5
7,8,18,8,6,1,15,8,8,8,1.0,53,\N,\N,20,4,1:27.903,217.180,5
8,9,18,9,2,4,2,\N,R,9,0.0,47,\N,\N,15,9,1:28.753,215.100,4
9,10,18,10,7,12,18,\N,R,10,0.0,43,\N,\N,23,13,1:29.558,213.166,3

In [47]:
df5.shape

(24660, 18)

In [48]:
df4.shape

(1026, 10)

In [49]:
df6=pd.read_csv('drivers.csv')

In [50]:
df6.head(10)

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
5,6,nakajima,\N,NAK,Kazuki,Nakajima,1985-01-11,Japanese,http://en.wikipedia.org/wiki/Kazuki_Nakajima
6,7,bourdais,\N,BOU,Sébastien,Bourdais,1979-02-28,French,http://en.wikipedia.org/wiki/S%C3%A9bastien_Bo...
7,8,raikkonen,7,RAI,Kimi,Räikkönen,1979-10-17,Finnish,http://en.wikipedia.org/wiki/Kimi_R%C3%A4ikk%C...
8,9,kubica,88,KUB,Robert,Kubica,1984-12-07,Polish,http://en.wikipedia.org/wiki/Robert_Kubica
9,10,glock,\N,GLO,Timo,Glock,1982-03-18,German,http://en.wikipedia.org/wiki/Timo_Glock

In [51]:
df6.shape

(848, 9)

In [52]:
df5.insert(9,'driverRef',"NaN")
df5.insert(10,'dob',"NaN")
df5.insert(11,'nationality',"NaN")

In [53]:
df5.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,driverRef,...,nationality,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,NaN,...,NaN,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,NaN,...,NaN,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,NaN,...,NaN,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,NaN,...,NaN,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,NaN,...,NaN,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [54]:
df5.tail()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,driverRef,...,nationality,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
24655,24661,1042,847,3,63,11,16,16,16,NaN,...,NaN,0.0,69,\N,\N,36,16,1:08.601,226.597,12
24656,24662,1042,849,3,6,18,17,17,17,NaN,...,NaN,0.0,69,\N,\N,68,17,1:08.806,225.922,12
24657,24663,1042,839,4,31,5,\N,R,18,NaN,...,NaN,0.0,25,\N,\N,22,18,1:09.321,224.243,25
24658,24664,1042,844,6,16,14,\N,R,19,NaN,...,NaN,0.0,4,\N,\N,3,19,1:35.379,162.979,130
24659,24665,1042,20,6,5,10,\N,R,20,NaN,...,NaN,0.0,1,\N,\N,\N,0,\N,\N,130

In [55]:
for i in range(len(df6)):
    temp=df6.iloc[i,:]
    df5.loc[(df5.driverId==temp.driverId),['driverRef','dob','nationality']]=[temp.driverRef,temp.dob,temp.nationality]

In [56]:
df5.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,driverRef,...,nationality,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,hamilton,...,British,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,heidfeld,...,German,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,rosberg,...,German,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,alonso,...,Spanish,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,kovalainen,...,Finnish,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [57]:
df5.insert(21,'season',"NaN")
df5.insert(22,'round',"NaN")
df5.insert(23,'circuitRef',"NaN")
df5.insert(24,'constructorRef',"NaN")

In [58]:
df4.head()

,season,round,circuitRef,circuitId,raceId,latitude,longitude,country,location,url
0,1950,1,silverstone,9,833,52.0786,-1.01694,UK,Silverstone,http://en.wikipedia.org/wiki/1950_British_Gran...
1,1950,2,monaco,6,834,43.7347,7.42056,Monaco,Monte-Carlo,http://en.wikipedia.org/wiki/1950_Monaco_Grand...
2,1950,3,indianapolis,19,835,39.795,-86.2347,USA,Indianapolis,http://en.wikipedia.org/wiki/1950_Indianapolis...
3,1950,4,bremgarten,66,836,46.9589,7.40194,Switzerland,Bern,http://en.wikipedia.org/wiki/1950_Swiss_Grand_...
4,1950,5,spa,13,837,50.4372,5.97139,Belgium,Spa,http://en.wikipedia.org/wiki/1950_Belgian_Gran...

In [59]:
df4['round'].value_counts()

1     71
2     71
3     71
4     71
5     71
6     71
7     71
8     69
9     63
10    58
11    54
12    50
13    48
14    47
15    45
16    40
17    22
18    14
19    11
20     5
21     3
Name: round, dtype: int64

In [60]:
for i in range(len(df4)):
    temp=df4.iloc[i,:]
    df5.loc[(df5.raceId==temp.raceId),['season','round','circuitRef']]=[temp.season,temp.round,temp.circuitRef]

In [61]:
df5.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,driverRef,...,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,season,round,circuitRef,constructorRef
0,1,18,1,1,22,1,1,1,1,hamilton,...,5690616,39,2,1:27.452,218.300,1,2008,<bound method Series.round of season ...,albert_park,NaN
1,2,18,2,2,3,5,2,2,2,heidfeld,...,5696094,41,3,1:27.739,217.586,1,2008,<bound method Series.round of season ...,albert_park,NaN
2,3,18,3,3,7,7,3,3,3,rosberg,...,5698779,41,5,1:28.090,216.719,1,2008,<bound method Series.round of season ...,albert_park,NaN
3,4,18,4,4,5,11,4,4,4,alonso,...,5707797,58,7,1:28.603,215.464,1,2008,<bound method Series.round of season ...,albert_park,NaN
4,5,18,5,1,23,3,5,5,5,kovalainen,...,5708630,43,1,1:27.418,218.385,1,2008,<bound method Series.round of season ...,albert_park,NaN

In [62]:
df5['round']

0        <bound method Series.round of season          ...
1        <bound method Series.round of season          ...
2        <bound method Series.round of season          ...
3        <bound method Series.round of season          ...
4        <bound method Series.round of season          ...
5        <bound method Series.round of season          ...
6        <bound method Series.round of season          ...
7        <bound method Series.round of season          ...
8        <bound method Series.round of season          ...
9        <bound method Series.round of season          ...
10       <bound method Series.round of season          ...
11       <bound method Series.round of season          ...
12       <bound method Series.round of season          ...
13       <bound method Series.round of season          ...
14       <bound method Series.round of season          ...
15       <bound method Series.round of season          ...
16       <bound method Series.round of season          ...
17       <bound method Series.round of season          ...
18       <bound method Series.round of season          ...
19       <bound method Series.round of season          ...
20       <bound method Series.round of season          ...
21       <bound method Series.round of season          ...
22       <bound method Series.round of season          ...
23       <bound method Series.round of season          ...
24       <bound method Series.round of season          ...
25       <bound method Series.round of season          ...
26       <bound method Series.round of season          ...
27       <bound method Series.round of season          ...
28       <bound method Series.round of season          ...
29       <bound method Series.round of season          ...
                               ...
24630    <bound method Series.round of season          ...
24631    <bound method Series.round of season          ...
24632    <bound method Series.round of season          ...
24633    <bound method Series.round of season          ...
24634    <bound method Series.round of season          ...
24635    <bound method Series.round of season          ...
24636    <bound method Series.round of season          ...
24637    <bound method Series.round of season          ...
24638    <bound method Series.round of season          ...
24639    <bound method Series.round of season          ...
24640    <bound method Series.round of season          ...
24641    <bound method Series.round of season          ...
24642    <bound method Series.round of season          ...
24643    <bound method Series.round of season          ...
24644    <bound method Series.round of season          ...
24645    <bound method Series.round of season          ...
24646    <bound method Series.round of season          ...
24647    <bound method Series.round of season          ...
24648    <bound method Series.round of season          ...
24649    <bound method Series.round of season          ...
24650    <bound method Series.round of season          ...
24651    <bound method Series.round of season          ...
24652    <bound method Series.round of season          ...
24653    <bound method Series.round of season          ...
24654    <bound method Series.round of season          ...
24655    <bound method Series.round of season          ...
24656    <bound method Series.round of season          ...
24657    <bound method Series.round of season          ...
24658    <bound method Series.round of season          ...
24659    <bound method Series.round of season          ...
Name: round, Length: 24660, dtype: object

In [63]:
df5['season']

0        2008
1        2008
2        2008
3        2008
4        2008
5        2008
6        2008
7        2008
8        2008
9        2008
10       2008
11       2008
12       2008
13       2008
14       2008
15       2008
16       2008
17       2008
18       2008
19       2008
20       2008
21       2008
22       2008
23       2008
24       2008
25       2008
26       2008
27       2008
28       2008
29       2008
         ...
24630    2020
24631    2020
24632    2020
24633    2020
24634    2020
24635    2020
24636    2020
24637    2020
24638    2020
24639    2020
24640    2020
24641    2020
24642    2020
24643    2020
24644    2020
24645    2020
24646    2020
24647    2020
24648    2020
24649    2020
24650    2020
24651    2020
24652    2020
24653    2020
24654    2020
24655    2020
24656    2020
24657    2020
24658    2020
24659    2020
Name: season, Length: 24660, dtype: int64

In [64]:
temp1=df4.iloc[0,:]

In [74]:
temp1.round

<bound method Series.round of season                                                     1950
round                                                         1
circuitRef                                          silverstone
circuitId                                                     9
raceId                                                      833
latitude                                                52.0786
longitude                                              -1.01694
country                                                      UK
location                                            Silverstone
url           http://en.wikipedia.org/wiki/1950_British_Gran...
Name: 0, dtype: object>

In [75]:
temp1

season                                                     1950
round                                                         1
circuitRef                                          silverstone
circuitId                                                     9
raceId                                                      833
latitude                                                52.0786
longitude                                              -1.01694
country                                                      UK
location                                            Silverstone
url           http://en.wikipedia.org/wiki/1950_British_Gran...
Name: 0, dtype: object

In [76]:
for i in range(len(df4)):
    temp=df4.iloc[i,:]
    df5.loc[(df5.raceId==temp.raceId),['round']]=[temp['round']]

In [77]:
df5.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,driverRef,...,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,season,round,circuitRef,constructorRef
0,1,18,1,1,22,1,1,1,1,hamilton,...,5690616,39,2,1:27.452,218.300,1,2008,1,albert_park,NaN
1,2,18,2,2,3,5,2,2,2,heidfeld,...,5696094,41,3,1:27.739,217.586,1,2008,1,albert_park,NaN
2,3,18,3,3,7,7,3,3,3,rosberg,...,5698779,41,5,1:28.090,216.719,1,2008,1,albert_park,NaN
3,4,18,4,4,5,11,4,4,4,alonso,...,5707797,58,7,1:28.603,215.464,1,2008,1,albert_park,NaN
4,5,18,5,1,23,3,5,5,5,kovalainen,...,5708630,43,1,1:27.418,218.385,1,2008,1,albert_park,NaN

In [78]:
df5.dtypes

resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number              object
grid                 int64
position            object
positionText        object
positionOrder        int64
driverRef           object
dob                 object
nationality         object
points             float64
laps                 int64
time                object
milliseconds        object
fastestLap          object
rank                object
fastestLapTime      object
fastestLapSpeed     object
statusId             int64
season               int64
round                int64
circuitRef          object
constructorRef      object
dtype: object

In [87]:
df7=pd.read_csv('constructors.csv')

In [88]:
df7.head()

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

In [89]:
for i in range(len(df7)):
    temp=df7.iloc[i,:]
    df5.loc[(df5.constructorId==temp.constructorId),['constructorRef']]=[temp.constructorRef]

In [95]:
df5.head(20)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,driverRef,...,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,season,round,circuitRef,constructorRef
0,1,18,1,1,22,1,1,1,1,hamilton,...,5690616,39,2,1:27.452,218.300,1,2008,1,albert_park,mclaren
1,2,18,2,2,3,5,2,2,2,heidfeld,...,5696094,41,3,1:27.739,217.586,1,2008,1,albert_park,bmw_sauber
2,3,18,3,3,7,7,3,3,3,rosberg,...,5698779,41,5,1:28.090,216.719,1,2008,1,albert_park,williams
3,4,18,4,4,5,11,4,4,4,alonso,...,5707797,58,7,1:28.603,215.464,1,2008,1,albert_park,renault
4,5,18,5,1,23,3,5,5,5,kovalainen,...,5708630,43,1,1:27.418,218.385,1,2008,1,albert_park,mclaren
5,6,18,6,3,8,13,6,6,6,nakajima,...,\N,50,14,1:29.639,212.974,11,2008,1,albert_park,williams
6,7,18,7,5,14,17,7,7,7,bourdais,...,\N,22,12,1:29.534,213.224,5,2008,1,albert_park,toro_rosso
7,8,18,8,6,1,15,8,8,8,raikkonen,...,\N,20,4,1:27.903,217.180,5,2008,1,albert_park,ferrari
8,9,18,9,2,4,2,\N,R,9,kubica,...,\N,15,9,1:28.753,215.100,4,2008,1,albert_park,bmw_sauber
9,10,18,10,7,12,18,\N,R,10,glock,...,\N,23,13,1:29.558,213.166,3,2008,1,albert_park,toyota
10,11,18,11,8,18,19,\N,R,11,sato,...,\N,24,15,1:30.892,210.038,7,2008,1,albert_park,super_aguri
11,12,18,12,4,6,20,\N,R,12,piquet_jr,...,\N,20,16,1:31.384,208.907,8,2008,1,albert_park,renault
12,13,18,13,6,2,4,\N,R,13,massa,...,\N,23,6,1:28.175,216.510,5,2008,1,albert_park,ferrari
13,14,18,14,9,9,8,\N,R,14,coulthard,...,\N,21,11,1:29.502,213.300,4,2008,1,albert_park,red_bull
14,15,18,15,7,11,6,\N,R,15,trulli,...,\N,18,10,1:29.310,213.758,10,2008,1,albert_park,toyota
15,16,18,16,10,20,22,\N,R,16,sutil,...,\N,8,17,1:32.021,207.461,9,2008,1,albert_park,force_india
16,17,18,17,9,10,14,\N,R,17,webber,...,\N,\N,\N,\N,\N,4,2008,1,albert_park,red_bull
17,18,18,18,11,16,12,\N,R,18,button,...,\N,\N,\N,\N,\N,4,2008,1,albert_park,honda
18,19,18,19,8,19,21,\N,R,19,davidson,...,\N,\N,\N,\N,\N,4,2008,1,albert_park,super_aguri
19,20,18,20,5,15,9,\N,R,20,vettel,...,\N,\N,\N,\N,\N,4,2008,1,albert_park,toro_rosso

In [93]:
df5.isnull

<bound method DataFrame.isnull of        resultId  raceId  driverId  constructorId number  grid position  \
0             1      18         1              1     22     1        1
1             2      18         2              2      3     5        2
2             3      18         3              3      7     7        3
3             4      18         4              4      5    11        4
4             5      18         5              1     23     3        5
5             6      18         6              3      8    13        6
6             7      18         7              5     14    17        7
7             8      18         8              6      1    15        8
8             9      18         9              2      4     2       \N
9            10      18        10              7     12    18       \N
10           11      18        11              8     18    19       \N
11           12      18        12              4      6    20       \N
12           13      18        13              6      2     4       \N
13           14      18        14              9      9     8       \N
14           15      18        15              7     11     6       \N
15           16      18        16             10     20    22       \N
16           17      18        17              9     10    14       \N
17           18      18        18             11     16    12       \N
18           19      18        19              8     19    21       \N
19           20      18        20              5     15     9       \N
20           21      18        21             10     21    16       \N
21           22      18        22             11     17    10       \N
22           23      19         8              6      1     2        1
23           24      19         9              2      4     4        2
24           25      19         5              1     23     8        3
25           26      19        15              7     11     3        4
26           27      19         1              1     22     9        5
27           28      19         2              2      3     5        6
28           29      19        17              9     10     6        7
29           30      19         4              4      5     7        8
...         ...     ...       ...            ...    ...   ...      ...
24630     24636    1041       849              3      6    20       11
24631     24637    1041       826            213     26    13       12
24632     24638    1041       848              9     23     4       13
24633     24639    1041         8             51      7    19       \N
24634     24640    1041       847              3     63    17       \N
24635     24641    1041       154            210      8    15       \N
24636     24642    1041       825            210     20    16       \N
24637     24643    1041       840            211     18     9       \N
24638     24644    1041       817              4      3    10       \N
24639     24645    1041       830              9     33     2       \N
24640     24646    1042         1            131     44     1        1
24641     24647    1042       822            131     77     4        2
24642     24648    1042       830              9     33     2        3
24643     24649    1042       848              9     23     6        4
24644     24650    1042       846              1      4     9        5
24645     24651    1042       815            211     11    17        6
24646     24652    1042       840            211     18    12        7
24647     24653    1042       817              4      3     8        8
24648     24654    1042       832              1     55     3        9
24649     24655    1042       826            213     26    13       10
24650     24656    1042         8             51      7    16       11
24651     24657    1042       825            210     20    15       12
24652     24658    1042       154            210      8     0       13
24653     24659    1042       841             51     99    19       14
24654     24660    1042       842            213     10     7       15
24655     24661    1042       847              3     63    11       16
24656     24662    1042       849              3      6    18       17
24657     24663    1042       839              4     31     5       \N
24658     24664    1042       844              6     16    14       \N
24659     24665    1042        20              6      5    10       \N

      positionText  positionOrder        driverRef      ...        \
0                1              1         hamilton      ...
1                2              2         heidfeld      ...
2                3              3          rosberg      ...
3                4              4           alonso      ...
4                5              5       kovalainen      ...
5                6              6         nakajima      ...
6                7              7         bourdais      ...
7                8              8        raikkonen      ...
8                R              9           kubica      ...
9                R             10            glock      ...
10               R             11             sato      ...
11               R             12        piquet_jr      ...
12               R             13            massa      ...
13               R             14        coulthard      ...
14               R             15           trulli      ...
15               R             16            sutil      ...
16               R             17           webber      ...
17               R             18           button      ...
18               R             19         davidson      ...
19               R             20           vettel      ...
20               R             21       fisichella      ...
21               D             22      barrichello      ...
22               1              1        raikkonen      ...
23               2              2           kubica      ...
24               3              3       kovalainen      ...
25               4              4           trulli      ...
26               5              5         hamilton      ...
27               6              6         heidfeld      ...
28               7              7           webber      ...
29               8              8           alonso      ...
...            ...            ...              ...      ...
24630           11             11           latifi      ...
24631           12             12            kvyat      ...
24632           13             13            albon      ...
24633            R             14        raikkonen      ...
24634            R             15          russell      ...
24635            R             16         grosjean      ...
24636            R             17  kevin_magnussen      ...
24637            R             18           stroll      ...
24638            R             19        ricciardo      ...
24639            R             20   max_verstappen      ...
24640            1              1         hamilton      ...
24641            2              2           bottas      ...
24642            3              3   max_verstappen      ...
24643            4              4            albon      ...
24644            5              5           norris      ...
24645            6              6            perez      ...
24646            7              7           stroll      ...
24647            8              8        ricciardo      ...
24648            9              9            sainz      ...
24649           10             10            kvyat      ...
24650           11             11        raikkonen      ...
24651           12             12  kevin_magnussen      ...
24652           13             13         grosjean      ...
24653           14             14       giovinazzi      ...
24654           15             15            gasly      ...
24655           16             16          russell      ...
24656           17             17           latifi      ...
24657            R             18             ocon      ...
24658            R             19          leclerc      ...
24659            R             20           vettel      ...

      milliseconds fastestLap  rank  fastestLapTime fastestLapSpeed statusId  \
0          5690616         39     2        1:27.452         218.300        1
1          5696094         41     3        1:27.739         217.586        1
2          5698779         41     5        1:28.090         216.719        1
3          5707797         58     7        1:28.603         215.464        1
4          5708630         43     1        1:27.418         218.385        1
5               \N         50    14        1:29.639         212.974       11
6               \N         22    12        1:29.534         213.224        5
7               \N         20     4        1:27.903         217.180        5
8               \N         15     9        1:28.753         215.100        4
9               \N         23    13        1:29.558         213.166        3
10              \N         24    15        1:30.892         210.038        7
11              \N         20    16        1:31.384         208.907        8
12              \N         23     6        1:28.175         216.510        5
13              \N         21    11        1:29.502         213.300        4
14              \N         18    10        1:29.310         213.758       10
15              \N          8    17        1:32.021         207.461        9
16              \N         \N    \N              \N              \N        4
17              \N         \N    \N              \N              \N        4
18              \N         \N    \N              \N              \N        4
19              \N         \N    \N              \N              \N        4
20              \N         \N    \N              \N              \N        4
21              \N         44     8        1:28.736         215.141        2
22         5478555         37     2        1:35.405         209.158        1
23         5498125         39     6        1:35.921         208.033        1
24         5517005         19     7        1:35.922         208.031        1
25         5524387         53     8        1:36.068         207.715        1
26         5525103         53     3        1:35.462         209.033        1
27         5528388         55     1        1:35.366         209.244        1
28         5546685         53    12        1:36.696         206.366        1
29         5548596         40    10        1:36.288         207.240        1
...            ...        ...   ...             ...             ...      ...
24630      5487389         63    16        1:09.662         223.146        1
24631           \N         50    13        1:09.135         224.847       22
24632           \N         50     7        1:08.432         227.156       40
24633           \N         48    12        1:09.031         225.185       36
24634           \N         49    14        1:09.317         224.256       32
24635           \N         46    17        1:10.228         221.347       23
24636           \N         23    20        1:10.720         219.807       23
24637           \N          4    18        1:10.326         221.039        5
24638           \N          8    19        1:10.610         220.150       25
24639           \N          5    15        1:09.351         224.146       40
24640      4970683         68     3        1:06.719         232.989        1
24641      4984402         62     7        1:07.534         230.177        1
24642      5004381         70     2        1:06.145         235.010        1
24643      5015083         67     6        1:07.299         230.981        1
24644      5032153         66     5        1:07.193         231.345        1
24645      5033070         68     4        1:07.188         231.362        1
24646      5033136         65    10        1:07.833         229.162        1
24647      5033274         65     9        1:07.832         229.166        1
24648           \N         68     1        1:05.619         236.894       11
24649           \N         60    13        1:08.378         227.336       11
24650           \N         57    14        1:08.382         227.322       11
24651           \N         69    11        1:08.009         228.569       11
24652           \N         69    12        1:08.047         228.442       11
24653           \N         54    15        1:08.512         226.891       11
24654           \N         69     8        1:07.827         229.183       11
24655           \N         36    16        1:08.601         226.597       12
24656           \N         68    17        1:08.806         225.922       12
24657           \N         22    18        1:09.321         224.243       25
24658           \N          3    19        1:35.379         162.979      130
24659           \N         \N     0              \N              \N      130

      season round     circuitRef constructorRef
0       2008     1    albert_park        mclaren
1       2008     1    albert_park     bmw_sauber
2       2008     1    albert_park       williams
3       2008     1    albert_park        renault
4       2008     1    albert_park        mclaren
5       2008     1    albert_park       williams
6       2008     1    albert_park     toro_rosso
7       2008     1    albert_park        ferrari
8       2008     1    albert_park     bmw_sauber
9       2008     1    albert_park         toyota
10      2008     1    albert_park    super_aguri
11      2008     1    albert_park        renault
12      2008     1    albert_park        ferrari
13      2008     1    albert_park       red_bull
14      2008     1    albert_park         toyota
15      2008     1    albert_park    force_india
16      2008     1    albert_park       red_bull
17      2008     1    albert_park          honda
18      2008     1    albert_park    super_aguri
19      2008     1    albert_park     toro_rosso
20      2008     1    albert_park    force_india
21      2008     1    albert_park          honda
22      2008     2         sepang        ferrari
23      2008     2         sepang     bmw_sauber
24      2008     2         sepang        mclaren
25      2008     2         sepang         toyota
26      2008     2         sepang        mclaren
27      2008     2         sepang     bmw_sauber
28      2008     2         sepang       red_bull
29      2008     2         sepang        renault
...      ...   ...            ...            ...
24630   2020     1  red_bull_ring       williams
24631   2020     1  red_bull_ring     alphatauri
24632   2020     1  red_bull_ring       red_bull
24633   2020     1  red_bull_ring           alfa
24634   2020     1  red_bull_ring       williams
24635   2020     1  red_bull_ring           haas
24636   2020     1  red_bull_ring           haas
24637   2020     1  red_bull_ring   racing_point
24638   2020     1  red_bull_ring        renault
24639   2020     1  red_bull_ring       red_bull
24640   2020     2  red_bull_ring       mercedes
24641   2020     2  red_bull_ring       mercedes
24642   2020     2  red_bull_ring       red_bull
24643   2020     2  red_bull_ring       red_bull
24644   2020     2  red_bull_ring        mclaren
24645   2020     2  red_bull_ring   racing_point
24646   2020     2  red_bull_ring   racing_point
24647   2020     2  red_bull_ring        renault
24648   2020     2  red_bull_ring        mclaren
24649   2020     2  red_bull_ring     alphatauri
24650   2020     2  red_bull_ring           alfa
24651   2020     2  red_bull_ring           haas
24652   2020     2  red_bull_ring           haas
24653   2020     2  red_bull_ring           alfa
24654   2020     2  red_bull_ring     alphatauri
24655   2020     2  red_bull_ring       williams
24656   2020     2  red_bull_ring       williams
24657   2020     2  red_bull_ring        renault
24658   2020     2  red_bull_ring        ferrari
24659   2020     2  red_bull_ring        ferrari

[24660 rows x 25 columns]>

In [98]:
df8=pd.read_csv('status.csv')

In [99]:
df8.head()

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine

In [100]:
df5.insert(25,'statusRef',"NaN")

In [102]:
for i in range(len(df8)):
    temp=df8.iloc[i,:]
    df5.loc[(df5.statusId==temp.statusId),['statusRef']]=[temp.status]

In [103]:
df5.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,driverRef,...,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,season,round,circuitRef,constructorRef,statusRef
0,1,18,1,1,22,1,1,1,1,hamilton,...,39,2,1:27.452,218.300,1,2008,1,albert_park,mclaren,Finished
1,2,18,2,2,3,5,2,2,2,heidfeld,...,41,3,1:27.739,217.586,1,2008,1,albert_park,bmw_sauber,Finished
2,3,18,3,3,7,7,3,3,3,rosberg,...,41,5,1:28.090,216.719,1,2008,1,albert_park,williams,Finished
3,4,18,4,4,5,11,4,4,4,alonso,...,58,7,1:28.603,215.464,1,2008,1,albert_park,renault,Finished
4,5,18,5,1,23,3,5,5,5,kovalainen,...,43,1,1:27.418,218.385,1,2008,1,albert_park,mclaren,Finished

In [104]:
df5.drop(['number'],axis=1,inplace=True)
df5.drop(['position'],axis=1,inplace=True)
df5.drop(['milliseconds'],axis=1,inplace=True)

In [105]:
df5.head(10)

,resultId,raceId,driverId,constructorId,grid,positionText,positionOrder,driverRef,dob,nationality,...,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,season,round,circuitRef,constructorRef,statusRef
0,1,18,1,1,1,1,1,hamilton,1985-01-07,British,...,39,2,1:27.452,218.300,1,2008,1,albert_park,mclaren,Finished
1,2,18,2,2,5,2,2,heidfeld,1977-05-10,German,...,41,3,1:27.739,217.586,1,2008,1,albert_park,bmw_sauber,Finished
2,3,18,3,3,7,3,3,rosberg,1985-06-27,German,...,41,5,1:28.090,216.719,1,2008,1,albert_park,williams,Finished
3,4,18,4,4,11,4,4,alonso,1981-07-29,Spanish,...,58,7,1:28.603,215.464,1,2008,1,albert_park,renault,Finished
4,5,18,5,1,3,5,5,kovalainen,1981-10-19,Finnish,...,43,1,1:27.418,218.385,1,2008,1,albert_park,mclaren,Finished
5,6,18,6,3,13,6,6,nakajima,1985-01-11,Japanese,...,50,14,1:29.639,212.974,11,2008,1,albert_park,williams,+1 Lap
6,7,18,7,5,17,7,7,bourdais,1979-02-28,French,...,22,12,1:29.534,213.224,5,2008,1,albert_park,toro_rosso,Engine
7,8,18,8,6,15,8,8,raikkonen,1979-10-17,Finnish,...,20,4,1:27.903,217.180,5,2008,1,albert_park,ferrari,Engine
8,9,18,9,2,2,R,9,kubica,1984-12-07,Polish,...,15,9,1:28.753,215.100,4,2008,1,albert_park,bmw_sauber,Collision
9,10,18,10,7,18,R,10,glock,1982-03-18,German,...,23,13,1:29.558,213.166,3,2008,1,albert_park,toyota,Accident

In [109]:
df5.columns

Index(['resultId', 'raceId', 'driverId', 'constructorId', 'grid',
       'positionText', 'positionOrder', 'driverRef', 'dob', 'nationality',
       'points', 'laps', 'time', 'fastestLap', 'rank', 'fastestLapTime',
       'fastestLapSpeed', 'statusId', 'season', 'round', 'circuitRef',
       'constructorRef', 'statusRef'],
      dtype='object')

In [111]:
df5=df5[['season','round','circuitRef','raceId','resultId','driverRef','driverId','dob','nationality','constructorRef','constructorId','grid','positionText','positionOrder','points','laps','time','fastestLap','rank','fastestLapTime','fastestLapSpeed','statusId','statusRef']]

In [112]:
df5.head()

,season,round,circuitRef,raceId,resultId,driverRef,driverId,dob,nationality,constructorRef,...,positionOrder,points,laps,time,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,statusRef
0,2008,1,albert_park,18,1,hamilton,1,1985-01-07,British,mclaren,...,1,10.0,58,1:34:50.616,39,2,1:27.452,218.300,1,Finished
1,2008,1,albert_park,18,2,heidfeld,2,1977-05-10,German,bmw_sauber,...,2,8.0,58,+5.478,41,3,1:27.739,217.586,1,Finished
2,2008,1,albert_park,18,3,rosberg,3,1985-06-27,German,williams,...,3,6.0,58,+8.163,41,5,1:28.090,216.719,1,Finished
3,2008,1,albert_park,18,4,alonso,4,1981-07-29,Spanish,renault,...,4,5.0,58,+17.181,58,7,1:28.603,215.464,1,Finished
4,2008,1,albert_park,18,5,kovalainen,5,1981-10-19,Finnish,mclaren,...,5,4.0,58,+18.014,43,1,1:27.418,218.385,1,Finished

In [113]:
df5.sort_values(by=['season','round'],inplace=True)

In [114]:
df5.head()

,season,round,circuitRef,raceId,resultId,driverRef,driverId,dob,nationality,constructorRef,...,positionOrder,points,laps,time,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,statusRef
20024,1950,1,silverstone,833,20025,farina,642,1906-10-30,Italian,alfa,...,1,9.0,70,2:13:23.6,\N,\N,\N,\N,1,Finished
20025,1950,1,silverstone,833,20026,fagioli,786,1898-06-09,Italian,alfa,...,2,6.0,70,+2.6,\N,\N,\N,\N,1,Finished
20026,1950,1,silverstone,833,20027,reg_parnell,686,1911-07-02,British,alfa,...,3,4.0,70,+52.0,\N,\N,\N,\N,1,Finished
20027,1950,1,silverstone,833,20028,cabantous,704,1904-10-08,French,lago,...,4,3.0,68,\N,\N,\N,\N,\N,12,+2 Laps
20028,1950,1,silverstone,833,20029,rosier,627,1905-11-05,French,lago,...,5,2.0,68,\N,\N,\N,\N,\N,12,+2 Laps

In [115]:
df5.reset_index(inplace=True)

In [116]:
df5.drop(['index'],axis=1,inplace=True)

In [117]:
df5.head()

,season,round,circuitRef,raceId,resultId,driverRef,driverId,dob,nationality,constructorRef,...,positionOrder,points,laps,time,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,statusRef
0,1950,1,silverstone,833,20025,farina,642,1906-10-30,Italian,alfa,...,1,9.0,70,2:13:23.6,\N,\N,\N,\N,1,Finished
1,1950,1,silverstone,833,20026,fagioli,786,1898-06-09,Italian,alfa,...,2,6.0,70,+2.6,\N,\N,\N,\N,1,Finished
2,1950,1,silverstone,833,20027,reg_parnell,686,1911-07-02,British,alfa,...,3,4.0,70,+52.0,\N,\N,\N,\N,1,Finished
3,1950,1,silverstone,833,20028,cabantous,704,1904-10-08,French,lago,...,4,3.0,68,\N,\N,\N,\N,\N,12,+2 Laps
4,1950,1,silverstone,833,20029,rosier,627,1905-11-05,French,lago,...,5,2.0,68,\N,\N,\N,\N,\N,12,+2 Laps

In [118]:
df5.tail()

,season,round,circuitRef,raceId,resultId,driverRef,driverId,dob,nationality,constructorRef,...,positionOrder,points,laps,time,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,statusRef
24655,2020,2,red_bull_ring,1042,24661,russell,847,1998-02-15,British,williams,...,16,0.0,69,\N,36,16,1:08.601,226.597,12,+2 Laps
24656,2020,2,red_bull_ring,1042,24662,latifi,849,1995-06-29,Canadian,williams,...,17,0.0,69,\N,68,17,1:08.806,225.922,12,+2 Laps
24657,2020,2,red_bull_ring,1042,24663,ocon,839,1996-09-17,French,renault,...,18,0.0,25,\N,22,18,1:09.321,224.243,25,Overheating
24658,2020,2,red_bull_ring,1042,24664,leclerc,844,1997-10-16,Monegasque,ferrari,...,19,0.0,4,\N,3,19,1:35.379,162.979,130,Collision damage
24659,2020,2,red_bull_ring,1042,24665,vettel,20,1987-07-03,German,ferrari,...,20,0.0,1,\N,\N,0,\N,\N,130,Collision damage

In [119]:
df5.columns

Index(['season', 'round', 'circuitRef', 'raceId', 'resultId', 'driverRef',
       'driverId', 'dob', 'nationality', 'constructorRef', 'constructorId',
       'grid', 'positionText', 'positionOrder', 'points', 'laps', 'time',
       'fastestLap', 'rank', 'fastestLapTime', 'fastestLapSpeed', 'statusId',
       'statusRef'],
      dtype='object')

In [120]:
df9=pd.read_csv('pit_stops.csv')

In [121]:
df9.head()

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842

In [122]:
df9['stop'].value_counts()

1    3613
2    2462
3    1048
4     284
5      73
6      15
Name: stop, dtype: int64

In [123]:
df10=pd.read_csv('driver_standings.csv')

In [124]:
df10.head()

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0
4                  5      18         5     4.0         5            5     0

In [125]:
df5.to_csv('results_data1.csv',index=False)

In [126]:
df5.drop(['fastestLap'],axis=1,inplace=True)
df5.drop(['rank'],axis=1,inplace=True)
df5.drop(['fastestLapTime'],axis=1,inplace=True)
df5.drop(['fastestLapSpeed'],axis=1,inplace=True)

In [127]:
df5.shape

(24660, 19)

In [128]:
df5.head()

,season,round,circuitRef,raceId,resultId,driverRef,driverId,dob,nationality,constructorRef,constructorId,grid,positionText,positionOrder,points,laps,time,statusId,statusRef
0,1950,1,silverstone,833,20025,farina,642,1906-10-30,Italian,alfa,51,1,1,1,9.0,70,2:13:23.6,1,Finished
1,1950,1,silverstone,833,20026,fagioli,786,1898-06-09,Italian,alfa,51,2,2,2,6.0,70,+2.6,1,Finished
2,1950,1,silverstone,833,20027,reg_parnell,686,1911-07-02,British,alfa,51,4,3,3,4.0,70,+52.0,1,Finished
3,1950,1,silverstone,833,20028,cabantous,704,1904-10-08,French,lago,154,6,4,4,3.0,68,\N,12,+2 Laps
4,1950,1,silverstone,833,20029,rosier,627,1905-11-05,French,lago,154,9,5,5,2.0,68,\N,12,+2 Laps

In [129]:
df5.to_csv('results_data2.csv',index=False)

In [130]:
df5.insert(19,'url',"NaN")

In [131]:
df4.head()

,season,round,circuitRef,circuitId,raceId,latitude,longitude,country,location,url
0,1950,1,silverstone,9,833,52.0786,-1.01694,UK,Silverstone,http://en.wikipedia.org/wiki/1950_British_Gran...
1,1950,2,monaco,6,834,43.7347,7.42056,Monaco,Monte-Carlo,http://en.wikipedia.org/wiki/1950_Monaco_Grand...
2,1950,3,indianapolis,19,835,39.795,-86.2347,USA,Indianapolis,http://en.wikipedia.org/wiki/1950_Indianapolis...
3,1950,4,bremgarten,66,836,46.9589,7.40194,Switzerland,Bern,http://en.wikipedia.org/wiki/1950_Swiss_Grand_...
4,1950,5,spa,13,837,50.4372,5.97139,Belgium,Spa,http://en.wikipedia.org/wiki/1950_Belgian_Gran...

In [132]:
for i in range(len(df4)):
    temp=df4.iloc[i,:]
    df5.loc[(df5.raceId==temp.raceId),['url']]=[temp.url]

In [133]:
df5.head()

,season,round,circuitRef,raceId,resultId,driverRef,driverId,dob,nationality,constructorRef,constructorId,grid,positionText,positionOrder,points,laps,time,statusId,statusRef,url
0,1950,1,silverstone,833,20025,farina,642,1906-10-30,Italian,alfa,51,1,1,1,9.0,70,2:13:23.6,1,Finished,http://en.wikipedia.org/wiki/1950_British_Gran...
1,1950,1,silverstone,833,20026,fagioli,786,1898-06-09,Italian,alfa,51,2,2,2,6.0,70,+2.6,1,Finished,http://en.wikipedia.org/wiki/1950_British_Gran...
2,1950,1,silverstone,833,20027,reg_parnell,686,1911-07-02,British,alfa,51,4,3,3,4.0,70,+52.0,1,Finished,http://en.wikipedia.org/wiki/1950_British_Gran...
3,1950,1,silverstone,833,20028,cabantous,704,1904-10-08,French,lago,154,6,4,4,3.0,68,\N,12,+2 Laps,http://en.wikipedia.org/wiki/1950_British_Gran...
4,1950,1,silverstone,833,20029,rosier,627,1905-11-05,French,lago,154,9,5,5,2.0,68,\N,12,+2 Laps,http://en.wikipedia.org/wiki/1950_British_Gran...

In [134]:
df5.to_csv('results_data3.csv',index=False)